<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>0oa3b96b1x0LHSQZh357</string>
	<key>clientSecret</key>
	<string>o5bpZ1tOMIe-ZM4f_T7MiJaAYoGQfWG_aWfvRQu8</string>
</dict>
</plist>
